# .gitignore

# Node
node_modules/

# Environment files. Ignore local config files with API keys
config/config.js

# Ignore local environment variables (if you make one)
.env
.env.local

# Other stuff not wanted (OS junk, Log files)
.DS_Store
*.log
